<footer class="page-footer" style="background: #015289;">
      <div class="container">
        <div class="row">
          <div class="col l6 s12"></div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://www1.nyc.gov/site/orr/index.page">New York City Mayor's Office of Recovery and Resiliency</a></li>
              <li><a class="grey-text text-lighten-3" href="http://cusp.nyu.edu/">NYU - Center For urban Science and Progress</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright blue darken-4">
        <div class="container">
        <div class="row">
        	<div class="col s6">
        		<p>© 2017. Patrick Gitundu.</p>
        	</div>
        	<div class="col s6">
        		<p class="right-align">© 2017. New York City Mayor's Office of Recovery and Resiliency.</p>
        	</div>
        </div>
        
        </div>
      </div>
</footer>